<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>



<img src="start.png">

	<img height="580" width="400" src=<%= "#{@game.firstcard}#{@game.suit}.png"%>> 


<ul id="cards">
	<span><a href="/results/higher"><img src="higher.png" height = 200 width = 200></a></span>
	<span><a href="/results/lower"><img src="lower.png" height = 200 width = 200></a></span>
</ul>




  </body>
</html>